@import "/src/Vars.scss";

.wrap {
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
    gap: 80px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}

.box {
    h2 {
        font-size: clamp(3.75rem, 0.029rem + 15.27vw, 16.25rem);
        color: $colorBrown;
        line-height: 1.2;
        // margin-bottom: 100px;

        @media (max-width: 992px) {
            // margin-bottom: 50px;
            text-align: center;
            line-height: 0.8;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 15px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.item {
    filter: brightness(1) sepia(5%) saturate(300%);

    min-height: 290px;
    max-height: 300px;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 30px;
    text-align: center;
    border: 3px solid black;

    background-color: $colorBrown;

    background-size: cover;
    background-position: center;

    background-size: 120%;

    transition: all 0.3s;

    @media (max-width: 768px) {
        min-height: 260px;
    }

    @media (max-width: 480px) {
        min-height: 200px;
    }

    h3 {
        // font-size: 28px;
        font-size: clamp(1.25rem, 1.101rem + 0.61vw, 1.75rem);
        color: $colorBeige;
        line-height: 1.2;

        text-align: center;
    }

    &:hover {
        background-size: 125%;
    }

    &:nth-child(1) {
        background-image: url(/public/team-2.png);
    }
    &:nth-child(2) {
        background-image: url(/public/team-4.png);
    }
    &:nth-child(3) {
        background-image: url(/public/team-3.png);
    }
    &:nth-child(4) {
        background-image: url(/public/team-1.png);

        background-size: 155%;
        &:hover {
            background-size: 165%;
        }
    }
}

.icon {
    margin-left: auto;
    width: 100%;
    img {
        width: 100%;
    }

    @media (max-width: 992px) {
        display: none;
    }
}

.pretitle_img {
    display: none;
    margin: 30px auto;
    width: max-content;

    @media (max-width: 992px) {
        display: block;
    }
}
