@import "/src/Vars.scss";

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 30px 18px;
    width: max-content;
    border: 2px solid $colorPink;

    transition: all 0.3s;
    // font-size: 35px;
    font-size: clamp(1.75rem, 1.62rem + 0.53vw, 2.188rem);

    box-shadow: 0px 0px 0 0px $colorBeige;

    svg {
        position: relative;
        // top: 5px;
        path {
            position: relative;
            transition: all 0.3s;
        }
    }

    @media (max-width: 480px) {
        padding: 18px 20px 18px;
    }
}

.btn_solid {
    background: none;
    background-color: transparent;
    color: $colorPink;

    &:hover {
        color: $colorBrown;
        background: $colorPink;
        box-shadow: 5px 5px 0 0px $colorBeige;

        svg path {
            stroke: $colorBrown;
        }
    }
}
