@import "./Vars.scss";

@font-face {
    font-family: "Bellfort Bold";
    src: url("/fonts/Bellfort Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Bellfort Bold";
}

body {
    background-position: center;
    background-size: 100%;
    background-color: $colorBeige;
    background-image: url(/bg-1.png);

    color: $colorBrown;

    &.locked {
        overflow: hidden;
    }

    .menu.active_menu {
        overflow: hidden;
    }
}

section {
    padding: 60px 0;
    padding: clamp(1.875rem, 1.317rem + 2.29vw, 3.75rem) 0;
}

.container {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
}

// SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    // background: #555;
}

// ANIMS

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in-out;
}

.fadeOut {
    opacity: 1;
    animation: fadeOut 0.5s forwards ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// SWIPER

.swiper-pagination {
    position: absolute;
    // bottom: 10px;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    background: grey;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    border-radius: 50%;
    transition: all 0.3s;
}

.swiper-pagination-bullet-active {
    background: $colorPink;
    scale: 1.3;
}

// CAPITAL PAGE

body {
    &:has(.capital-page) {
        background-image: url(/bg-2.png);
        color: $colorPink;
    }
}

.capital-page {
    header {
        @media (max-width: 768px) {
            background-color: $colorPink;
        }
        .header-menu a {
            color: $colorPink;
        }

        .header-icons {
            img {
                background-color: $colorPink;
            }
        }
    }

    footer {
        @media (max-width: 768px) {
            background-color: $colorPink;
        }
        .footer-title {
            color: $colorPink;

            @media (max-width: 768px) {
                color: $colorBrown;
            }
        }

        h4 {
            color: $colorBrown;
        }

        a {
            color: $colorPink;

            @media (max-width: 768px) {
                color: $colorBrown;
            }
        }

        img {
            background-color: $colorPink;

            @media (max-width: 768px) {
                background-color: $colorBrown;
            }
        }

        .footer-imgs {
            img {
                width: 100%;
                border: 3px solid $colorPink;

                &:nth-child(2) {
                    display: block;

                    border: 3px solid $colorBrown;
                }

                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
}
